// @import "../scss/bootstrap.scss";
$sidebar: #1e1e2d;
$bg-content: #3699ff;

body {
  font-family: "Poppins", sans-serif;
  background-color: #e7e9f1;
}

/*

   STYLE   SIDEBAR

*/
.sidebar {
  position: relative;
  width: 15%;
  background-color: $sidebar;
  color: white;
  border-right: 1px solid gold;
  padding: 0 5px;
  height: 100vh;

  &-brand {
    font-weight: 700;
    font-size: 14px;
    margin-top: 9px;
    text-align: center;
  }
  .fa-chevron-circle-right {
    position: absolute;
    left: 87%;
    top: 50%;
    z-index: 1;
    font-size: 19px;
    cursor: pointer;
    color: darkgoldenrod;
    background: gold;
    border: 1px solid gold;
    border-radius: 50%;
  }
}

/*

     STYLE NAVBAR

*/
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  color: white;
  width: 85%;

  &-info {
    position: relative;

    .navbar-search {
      position: absolute;
      left: -218px;
      top: 2px;
      border-radius: 5px;
      outline: none;
    }
    .icon-search {
      position: absolute;
      right: 152px;
      top: 7px;
      max-width: 20px;
      cursor: pointer;
    }

    img {
      display: inline-block;
      max-width: 35px;
      margin-right: 11px;
      color: #3699ff;
    }
    .count {
      position: absolute;
      top: 5px;
      background: black;
      font-size: 10px;
      left: 11px;
      color: white;
      border-radius: 50%;
      padding: 2px;

      &-envelope {
        top: -2px;
        left: 17%;
      }
      &-notification {
        top: -2px;
        left: 48%;
      }
    }
  }
  &-profile {
    img {
      width: 40px;
      border-radius: 5px;
    }
  }
}
