.breadcrumb {
  background-color: #1E1E2D !important;
}

.card, .breadcrumb {
  background-color: #3E3E4F;
  border: 1px solid white;
  color: white;
}

body {
  font-family: 'Poppins';
}

#Dash_board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e7e9f1;
}

h6 {
  margin-left: 1rem;
  color: #494b74;
  font-size: 16px;
  font-weight: 400;
}

.container_todo_value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container_todo_value .alert {
  width: 50%;
}

.container_todo_value .alert .item_input {
  width: 60%;
}

.container_todo_value .alert .btn-info {
  display: inline-block;
}

#new_id_varian {
  margin-top: 30px;
}

#new_id_varian .font-weight-bold {
  position: relative;
}

#new_id_varian .font-weight-bold span {
  position: absolute;
  left: 98%;
  top: -4%;
  font-weight: bolder;
  color: red;
  cursor: pointer;
}

@media (max-width: 992px) {
  .navbar .container-fluid {
    padding: 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .navbar .container-fluid form {
    width: 100%;
  }
  .navbar .container-fluid form input {
    width: 100%;
  }
  .navbar .container-fluid form img.search_input {
    left: 90%;
  }
  .navbar .container-fluid .menu_bar_profile ul.navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navigation {
    -webkit-transition: all 0.56s ease-in-out;
    transition: all 0.56s ease-in-out;
    width: 80px !important;
  }
  .show_sidebars {
    width: 300px !important;
  }
  .show_sidebars ul h6,
  .show_sidebars .accordion span.title span {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.56s ease-in-out;
    transition: all 0.56s ease-in-out;
  }
}

.spesifikas_produk h6 {
  margin-left: 0 !important;
  border-bottom: 1px solid black;
}

@media (max-width: 552px) {
  #add_ui_varian .col-auto {
    width: 100%;
  }
  .status-saldo, .status-total_order {
    border-bottom: 1px solid lightblue;
    margin-bottom: 10px;
  }
  .menu_bar_profile img {
    width: 30px;
    height: 30px;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3E3E4F;
}

.sidebar .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  padding: 5px;
  background-color: #3E3E4F;
  color: white;
  border-bottom: none;
}

.sidebar .card-header h5 {
  font-weight: 700;
}

.containers {
  position: relative;
}

.containers .navigation {
  position: relative;
  width: 275px;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.containers .navigation ul {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
}

.containers .navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
}

.containers .navigation ul li:hover {
  background: #3d3d71;
}

.containers .navigation ul li:hover span.title {
  color: white !important;
}

.containers .navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  text-decoration: none;
}

.containers .navigation ul li a span.icons {
  position: relative;
  display: block;
  min-width: 80px;
  height: 60px;
  line-height: 47px;
  text-align: center;
}

.containers .navigation ul li a span.icons svg,
.containers .navigation ul li a span.icons img {
  width: 30px;
}

.containers .navigation ul li a span.title {
  position: relative;
  display: block;
  height: 60px;
  line-height: 50px;
  white-space: nowrap;
  color: #9ea1ae;
  font-weight: 400;
}

.marketplace,
.account {
  margin-top: 44px;
}

.accordion {
  white-space: nowrap;
}

.accordion h6 {
  color: #3d3d71;
  font-size: 16px;
  margin: 44px 1rem 0;
}

.accordion .accordion-button {
  background-color: inherit;
  margin-top: 10px;
  color: #9ea1ae;
}

.accordion .accordion-button::after {
  background-color: white;
  border-radius: 50%;
}

.accordion .accordion-body a {
  list-style-type: disc;
  color: #9ea1ae;
  font-size: 15px;
  margin-left: 60px;
  text-decoration: none;
}

.accordion .accordion-body a:hover {
  color: #3699ff;
  text-decoration: underline;
}

.toggle {
  position: absolute;
  top: 35%;
  left: 93%;
  width: 40px;
  height: 40px;
  background: #ffff;
  border: 5px solid #3d3d71;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
}

.navigation.show_sidebars {
  width: 80px;
}

.navbar_main_content {
  background-color: #1E1E2D;
}

.navbar_main_content .navbar {
  background-color: #1E1E2D;
  color: white;
  border-bottom: 1px solid white;
}

.navbar_main_content .navbar .navbar-brand {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.navbar_main_content .navbar .navbar-brand span {
  font-size: 18px;
  margin-right: 20px;
  font-weight: 700;
}

.navbar_main_content .navbar .navbar-brand img {
  height: 35px;
  border-radius: 5px;
}

.navbar_main_content .navbar .nav-item .nav-link {
  position: relative;
}

.navbar_main_content .navbar .nav-item .nav-link .count_ {
  width: 18px;
  height: 18px;
  font-size: 9px;
  color: white;
  background-color: black;
  text-align: center;
  font-weight: bold;
  line-height: 17px;
  border-radius: 50%;
}

.navbar_main_content .navbar .nav-item .nav-link .count_notification {
  position: absolute;
  top: 51%;
  left: 63%;
}

.navbar_main_content .navbar .nav-item .nav-link .count_message {
  position: absolute;
  top: -3%;
  left: 63%;
}

.navbar_main_content form {
  position: relative;
}

.navbar_main_content form input {
  width: 343px;
  border-radius: 5px;
  background: #e7e9f1;
}

.navbar_main_content form .search_input {
  position: absolute;
  left: 90%;
  top: 28%;
}

.navbar_main_content form .search_input:hover {
  cursor: pointer;
}

.Content_dashboard {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */